[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests-html = "==0.10.0"
lyricsmaster = "==2.7.24"
google-api-python-client = "==1.7.8"
emoji = "==0.5.1"
cachier = "==1.2.5"
ipdb = "*"
youtube-dl = "==2019.4.7"

[requires]
python_version = "3.7"
